:root {
  --primary:#09b3b0;
  --primary-light:#ddf0f2;
  --primary-hover: #ff8c00;
  --title:#0b0b0b;
  --title2:#000;
  --desc:#000;
  --grey: #d9d9d9;
  --faq-item: #008080;
  // fonts
 --font: "Roboto", sans-serif;
  --font1: "Segoe UI", sans-serif;
  --font2: "Montserrat", sans-serif;
  --font3: "Aleo", sans-serif;
  --font4: "Yrsa", sans-serif;
  --font5: "Winter Insight", sans-serif;
}